

.mainPage{
  padding:15px;
  margin:auto;
  text-align: center;
  width: -moz-available;
}

.mainPage h2{
  font-weight: 200;
}

.plugList{
  text-align: center;
}

.controlList{
  font-size: large;
  
  border:solid 1px #a9a9a9;
  border-radius: 18px;

  display:inherit;
  width:100%;
}

.toggleButtonContainer{
  width:100% !important;
}

.rackList{
  padding:15px;
    list-style: none;
  }

.rackControls{
  list-style:none;
}

.rackCards{
  padding:15px;
  padding:25px;
}

.buttonContainer{
  margin:auto;
}

.toggleList
{
  width:100%;
}

.buttonHeader{
  display:block;
  padding:10px;
  color:#640000 !important;
}

.toggleButton{
  height:100px;
  width:200px;
}

.toggleSwitch{
  height:135px;
  width:100px;
}

.checkIcon{
  height:100px;
  width:100px;
}


.selectButton{
  font-size: large;
  padding:15px 5px;
  color:#ff0000;
}

.selectIcon{
  color:#ff0000;
}